#bg {
	position: fixed;
	top: -40px;
	left: -40px;
	width: 120%;
}

#overlay {
	width: 100%;
	height: 100%;
	background: gray;
	position: absolute;
	z-index: 10;
	opacity: 0.8;
	display: none;
}

#url {
	width: 80%;
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 7%;
}

#closeUrl {
	width: 10%;
	margin-right: 45%;
	margin-left: 45%;
	margin-bottom: 15%;
	margin-top: 15px;
}

#getUrl {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7c7dc), color-stop(100%,#85b2d3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a7c7dc 0%,#85b2d3 100%); /* Chrome10+,Safari5.1+ */
	height: 20%;
	width: 40%;
	position: absolute;
	z-index: 11;
	border-radius: 20px;
	margin-top: 20%;
	margin-right: 30%;
	margin-bottom: 40%;
	margin-left: 30%;
	display: none;
}

#freqDesc {
	font-family: 'Raleway Dots', sans-serif;
	font-size: 2em;
	color: white;
	background-color: transparent;
	border: none;
	height: 500px;
	width: 400px;
	padding: 15px;
}

#freqDescHolder {
	position: fixed;
	right: 20%;
	top: 30%;
}

.input-group {
	width: 110px !important;
	position: relative !important;
}

.bactrl {
	display: inline-block;
	padding: 2%;
}

.form-control {
	width: 80px !important;
}

.savebtn {
	margin-right: 20%;
	margin-top: 10%;
}

textarea {
    resize: none;
    -webkit-user-select: none;
    border: none;
}

ul {
	list-style-type: none;
	margin: 0 auto;
}

li {
	padding: 1%;
}

.slide {
	width: 300px;
}

input {
	padding: 1%;
}

label {
	font-family: 'Raleway Dots', serif;
	font-size: 1.2em;
	padding: 5px;
	color: white;
}

#window {
	position: fixed;
	left: 30px;
	top: 30px;
	bottom: 30px;
	background-color: gray;
	border-radius: 20px;
	padding: 3%;
	width: 500px;
	margin-right: 100px;
	text-align: center;
	background: #a7c7dc; /* Old browsers */
	background: -moz-linear-gradient(top,  #a7c7dc 0%, #85b2d3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7c7dc), color-stop(100%,#85b2d3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a7c7dc 0%,#85b2d3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a7c7dc 0%,#85b2d3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a7c7dc 0%,#85b2d3 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a7c7dc 0%,#85b2d3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7c7dc', endColorstr='#85b2d3',GradientType=0 ); /* IE6-9 */
}

#lilwindow {
	display: inline;
	position: fixed;
	right: 30px;
	bottom: 30px;
	background-color: gray;
	border-radius: 20px;
	padding: 3%;
	width: 560px;
	margin-left: 100px;
	text-align: center;
	background: #a7c7dc; /* Old browsers */
	background: -moz-linear-gradient(top,  #a7c7dc 0%, #85b2d3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7c7dc), color-stop(100%,#85b2d3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a7c7dc 0%,#85b2d3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a7c7dc 0%,#85b2d3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a7c7dc 0%,#85b2d3 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a7c7dc 0%,#85b2d3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7c7dc', endColorstr='#85b2d3',GradientType=0 ); /* IE6-9 */
}

#presetswindow {
	display: inline;
	position: fixed;
	right: 30px;
	top: 30px;
	background-color: gray;
	border-radius: 20px;
	padding: 3%;
	width: 400px;
	margin-left: 100px;
	text-align: center;
	background: #a7c7dc; /* Old browsers */
	background: -moz-linear-gradient(top,  #a7c7dc 0%, #85b2d3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7c7dc), color-stop(100%,#85b2d3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a7c7dc 0%,#85b2d3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a7c7dc 0%,#85b2d3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a7c7dc 0%,#85b2d3 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a7c7dc 0%,#85b2d3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7c7dc', endColorstr='#85b2d3',GradientType=0 ); /* IE6-9 */
}

#cb {
	float: right;
}

.dropdown {
	float: left;
}